
@{
    ViewBag.Title = "Home";
}

<h2>Hjem</h2>

<div>
    <p>
        Velkommen til vår nettbutikk! Gå til varelisten vår for å se varene våre!
    </p>
    <button type="button">@Html.ActionLink("Logg Inn", "LoggInn")</button>
    <button type="button">@Html.ActionLink("Registrer Bruker", "Registrer")</button>
    <button type="button">@Html.ActionLink("Kunder", "KundeListe")</button>
    <button type="button">@Html.ActionLink("Varer", "VareListe", "Vare")</button>
    <button type="button">@Html.ActionLink("Logg ut", "UtLogg")</button>

    

</div>




